.nav {
  display: flex;
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  height: 7%;
  z-index: 9999;
  padding: 1% 2%;
}
.container-logo {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  flex-basis: 0%;
}
.user-points {
  flex: 2;
  justify-content: flex-end;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 4%;
}
.username {
  margin-right: 2%;
  margin-top: 3%;
}
.second {
  display: flex;
  flex: 2 1;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0%;
  justify-content: space-around;
}

@media (min-width: 600px) {
  .container-user {
    width: 240px;
  }
}

@media (min-width: 750px) {
  .container-logo {
    flex: 1;
  }
}

@media (min-width: 800px) {
  .user-points {
    flex: 1.5;
  }
}
